---
import Navabar from "../components/Navabar.astro";
import Layout from "../layouts/Layout.astro";

const nombre = "Juan Sebastián Osorio Gómez";
const estudio = "Curso de Astro - Fernando Herrera";
---

<Layout tittle="Home Page">
  <h1>Hola mi nombre es {nombre} y actualmente estoy en el {estudio}</h1>
  <p>Momento actual: {new Date().toLocaleTimeString()}</p>
  <p id="current-time"></p>
  <p id="random-number"></p>
</Layout>

<script>
  const anoFooter = document.querySelector("footer") as HTMLElement;
  const realTime = document.querySelector(
    "#current-time"
  ) as HTMLParagraphElement;
  const randomNumber = document.querySelector(
    "#random-number"
  ) as HTMLParagraphElement;

  realTime.innerText = `Momento actual es: ${new Date().toLocaleTimeString()}`;
  randomNumber.innerText = `Su turno en la fila es el:  ${parseInt(Math.random() * 20)}`;
</script>

<style>
  html {
    background-color: red;
  }
  h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  p {
    text-align: center;
    font-size: 2rem;
  }
</style>
