---
import Navabar from "../components/Navabar.astro";

// Este inteface Props defin el tipo de dato que reciben la propiedades
interface Props {
  tittle: string;
  age?: number; //El ? cambia para que no sea obligatorio poner la propiedad cuando se llame el componente, lo vuelve OPCIONAL.
  isActive?: boolean;
}

const { tittle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{tittle}</title>
  </head>
  <body>
    <Navabar />
    <slot />
  </body>
</html>
